@model IEnumerable<EscolaAPI_FRONT.DTO.BoletimEscolarDTO>

@{
    ViewData["Title"] = "BoletimEscolar";
}

<h1>Boletim Escolar do @Model.First().NomeAluno</h1>

<p>
    <a href="../CriarBoletimEscolar/@Model.First().IdAluno">Criar Novo Boletim Escolar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Aluno
            </th>
            <th>
                Professor
            </th>
            <th>
                Disciplina
            </th>
            <th>
               Nota
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaBoletimEscolar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoBoletim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNota)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
