@model EscolaAPI_FRONT.DTO.ProfessorDTO

@{
    ViewData["Title"] = "EditarProfessor";
    List<Disciplina> disciplinas = ViewBag.Disciplinas;
}

<h1>EditarProfessor</h1>

<h4>ProfessorDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarProfessor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="IdProfessor" class="form-control" value="@Model.IdProfessor" />
                <span asp-validation-for="IdProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" value="@Model.Nome"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDisciplina" class="control-label"></label>
                <select asp-for="IdDisciplina" class="form-control" >
                    <option>Selecione uma Disciplina</option>
                    @foreach (var disciplina in disciplinas)
                    {

                        if (Model.IdDisciplina == disciplina.IdDisciplina)
                        {
                            <option value="@disciplina.IdDisciplina" selected>@disciplina.Nome</option>
                        }
                        else
                        {
                            <option value="@disciplina.IdDisciplina">@disciplina.Nome</option>
                        }

                    }



                </select>
                <span asp-validation-for="IdDisciplina" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
